*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.sticky-nav {
    position: fixed;
    top: 0px;
    display: inline-table;
    background-color: white;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    min-height: 80px;
}

nav {
    width: 100%;

}

.sticky-nav.nav-border-bottom {
    border-bottom: 1px solid rgba(0,0,0,1);
}


#icone {
    width: 70px;
    height: 70px;
    margin-top: -45px;
    margin-left: 50px;
}

.menu ul {
    text-align: right;
    width: 80%;
    font-size: 15px;

}
.menu ul li {
    display: inline-block;
    margin-top: 30px;
    padding-left: 10px;
}
.menu ul li a {
    text-decoration: none;
    color: black;   
    text-transform: uppercase; 

}
.menu ul li a:hover {
    color: blue;
    transition: 1s;
    padding: 5px;
    border-bottom: 1px solid blue;
}
#top-search {
    text-align: right;
    margin-right: 70px;
    margin-top: -45px;
    letter-spacing: 5px;
    text-decoration: none;
}



.section2  {
    width: 100%;
    height: 500px;
    opacity: .9;
    background-size: cover;
    background-image: url(../img/modelo.jpg);
}

.opacity-full {
    position: absolute;
    height: 500px;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
    top: 0;
    left: 0;
}

.bg-dark-gray {
    background: #252525 !important;
}


.section3 {
    padding: 30px;
}
.section3 h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
    color: #626262;
}
.section3 p {
    text-align: center;
    margin-top: 0px;
    color: #626262;
}

.image {
    border-bottom: 1px solid rgb(200, 200, 200);
}
ul#album {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    margin-left: 50px;
}

ul#album li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.4);
}

ul#album li:hover{
    -webkit-transform: scale(1.5);
    transition: 0.5s;
}


ul#album li#foto1 {
    background: url(../img/pr\ \(1\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto1:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}


ul#album li#foto2{
    background: url(../img/pr\ \(2\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto2:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}


ul#album li#foto3{
    background: url(../img/pr\ \(3\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto3:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto4{
    background: url(../img/pr\ \(4\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto4:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto5{
    background: url(../img/pr\ \(5\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto5:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto6{
    background: url(../img/pr\ \(6\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto6:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto7 {
    background: url(../img/pr\ \(3\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto7:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto8{
    background: url(../img/pr\ \(1\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto8:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto9{
    background: url(../img/pr\ \(2\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto9:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto10{
    background: url(../img/pr\ \(2\).jpg)no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto10:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto11{
    background: url(../img/pr\ \(2\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto11:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto12{
    background: url(../img/pr\ \(2\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto12:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto13{
    background: url(../img/pr\ \(2\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto13:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto14{
    background: url(../img/pr\ \(2\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto14:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}



ul#album li#foto15{
    background: url(../img/pr\ \(2\).jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album li#foto15:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}






footer {
    padding: 50px;

}

footer p {
    display: inline;
    padding-left: 150px;
    text-transform: uppercase;
    
}